/* Right Side Options */
.options {
  width: 610px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options h2 {
  width: 254px;
  height: 44px;
  opacity: 1;
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  color: #032e15;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 203.29px;
  height: 16px;
}

.rating-container img {
  width: 83.29px;
  height: 13.11px;
}

.rating {
  width: 114px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #032e15;
}

.product-desc {
  margin-bottom: 10px;
  width: 610px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16.2px;
  line-height: 20px;
  text-align: justify;
  color: #032e15;
  align-self: stretch;
}

.subscription-block {
  width: 610px;
  height: auto;
  background: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.green-head {
  width: 608px;
  height: 43.49px;
  background: linear-gradient(270deg, #032e15 0%, #008236 51.92%, #00c950 100%);
  border: 1px solid #b8b8b8;
  border-radius: 6px 6px 0px 0px;
}

.popular-text {
  padding: 10px 0;
  text-align: center;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Subscription Cards */
.single-sub-card {
  border: 1px solid #b8b8b8;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 700px;
  width: 608px;
  transition: height 0.3s ease;
  overflow: hidden;
}

.double-sub-card {
  border: 1px solid #b8b8b8;
  border-radius: 6px;
  height: 70px;
  width: 608px;
  transition: height 0.3s ease;
  overflow: hidden;
}

/* collapsed height for both */
.single-sub-card.collapsed,
.double-sub-card.collapsed {
  height: 65px;
}

/* expanded height */
.single-sub-card.expanded {
  height: 700px;
}

.double-sub-card.expanded {
  height: 910px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
}

.sub-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Remove browser default radio style */
.sub-label input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #032e15;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #f8f8f8;
  margin-right: 10px;
}

/* Inner dot (when checked) */
.sub-label input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  inset: 3px; /* makes inner circle smaller inside outer ring */
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
}

.sub-label span {
  width: 200px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;
  letter-spacing: 0.9px;
  color: #032e15;
}

.sub-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10.11px;
}

.price {
  width: 76px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.9px;
  color: #032e15;
}

.old-price {
  width: 49px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.9px;
  text-decoration-line: line-through;
  color: #b8b8b8;
}

.single-expand-or-collapse {
  display: none;
}

.double-expand-or-collapse {
  display: none;
}

.horizontal-line {
  margin: 0px 50px;
  width: 525px;
  height: 0px;
  border: 1px solid #919798;
}

/* Expandable Content */
.sub-content {
  padding: 20px;
  display: block;
  opacity: 1;
}

.sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 404px;
  height: 180px;
}

.section-title {
  width: 404px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #032e15;
  margin: 10px 50px;
}

/* Fragrance selection boxes */
.fragrance-row {
  display: flex;
  gap: 15px;
  width: 510px;
  height: 152px;
  position: relative;
  left: -40px;
}

.best-seller-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;

  width: 85px;
  height: 12px;

  position: relative;
  left: 146px;
  bottom: 8px;

  border: none;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  border-radius: 5px 0px;
}

.best-seller-button p {
  width: 50px;
  height: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 9px;
  color: #ffffff;
  align-self: center;
}

.frag-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 10px;

  width: 148px;
  height: 140px;
  background: #f9f9f9;
  border-radius: 5px;
}

.frag-card div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.frag-card input {
  box-sizing: border-box;
  width: 9.99px;
  height: 9.63px;
  background: #f8f8f8;
}

.frag-card div span {
  width: 47.72px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;

  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.frag-card img {
  align-self: center;
  width: 54.88px;
  height: 94px;
}

/* Included items */
.included-row {
  display: flex;
  gap: 15px;
  margin: 0px 50px;
}

.included-box {
  width: 175px;
  height: 220px;
  border: 1px solid #919798;
  border-radius: 8px;
  padding: 10px;
}

.included-box h3 {
  width: 130px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16.18px;
  line-height: 20px;
  color: #6f7577;
}

.included-img-big {
  width: 100px;
  position: relative;
  left: 25px;
  top: 5px;
}

.included-box-second {
  width: 328.18px;
  height: 219.53px;
  border: 1px solid #919798;
  border-radius: 8px;
  padding: 10px;
}

.included-box-second h3 {
  width: 130px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16.18px;
  line-height: 20px;
  color: #6f7577;
}

.included-box-second span {
  color: #032e15;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16.18px;
  line-height: 100%;
}

.included-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 46px;

  width: 256.63px;
  height: 94px;
}

.included-img {
  width: 94px;
  height: 94px;
  position: relative;
  left: 28px;
  top: 40px;
}

/* Benefits list */
.benefits-list {
  list-style-type: none;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 550px;
}

.benefits-list li {
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SealCheck */
.benefits-list img {
  width: 14px;
  height: 14px;
}

.benefits-list p {
  width: 400px;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #032e15;
}

.benefits-list span {
  width: 140px;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #032e15;
}

/* Add to Cart */
.add-btn {
  padding: 12px 24px;
  text-align: center;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  border-radius: 505px;
  border: none;
  width: 610px;
  height: 52.27px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: block;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.add-btn:hover {
  opacity: 0.9;
}

/* Add to Cart */
.add-btn p {
  width: 101px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .options {
    width: 94%;
    height: auto;
  }
  .options h2 {
    font-size: 24px;
    height: 28px;
  }
}
